extends layout

block content
  #page.mau-container
    .column3
      .title
        h2 Task Name
        h3 Deadline:
        h4 31 Jun 2014
      .mustShowBox
        h2 Client Type:
        p Personal
        br
        h2 Service Type:
        p Plan Only, With one number
        br
        h2 Network Date:
        p 4G+Data over 5GB
      div
        #1_readmore.readmore
          a(href='#') Read More...
        #1_readmoreContent.readmoreContent
          h2 Client Type:
          p Personal
          br
          h2 Service Type:
          p Plan Only, With one number
          br
          h2 Network Date:
          p 4G+Data over 5GB
          .offerDealwrapper
            .offerDealdescription
              a.icon(href='#') Offer Deal
    .column3
      .title
        h2 Task Name
        h3 Deadline:
        h4 31 Jun 2014
      .mustShowBox
        h2 Client Type:
        p Personal
        br
        h2 Service Type:
        p Plan Only, With one number
        br
        h2 Network Date:
        p 4G+Data over 5GB
      div
        #2_readmore.readmore
          a(href='#') Read More...
        #2_readmoreContent.readmoreContent
          h2 Client Type:
          p Personal
          br
          h2 Service Type:
          p Plan Only, With one number
          br
          h2 Network Date:
          p 4G+Data over 5GB
          .offerDealwrapper
            .offerDealdescription
              a.icon(href='#') Offer Deal
    .column3
      .title
        h2 Task Name
        h3 Deadline:
        h4 31 Jun 2014
      .mustShowBox
        h2 Client Type:
        p Personal
        br
        h2 Service Type:
        p Plan Only, With one number
        br
        h2 Network Date:
        p 4G+Data over 5GB
      div
        #3_readmore.readmore
          a(href='#') Read More...
        #3_readmoreContent.readmoreContent
          h2 Client Type:
          p Personal
          br
          h2 Service Type:
          p Plan Only, With one number
          br
          h2 Network Date:
          p 4G+Data over 5GB
          .offerDealwrapper
            .offerDealdescription
              a.icon(href='#') Offer Deal
    .column3
      .title
        h2 Task Name
        h3 Deadline:
        h4 31 Jun 2014
      .mustShowBox
        h2 Client Type:
        p Personal
        br
        h2 Service Type:
        p Plan Only, With one number
        br
        h2 Network Date:
        p 4G+Data over 5GB
      div
        #4_readmore.readmore
          a(href='#') Read More...
        #4_readmoreContent.readmoreContent
          h2 Client Type:
          p Personal
          br
          h2 Service Type:
          p Plan Only, With one number
          br
          h2 Network Date:
          p 4G+Data over 5GB
          .offerDealwrapper
            .offerDealdescription
              a.icon(href='#') Offer Deal
    .column3
      .title
        h2 Task Name
        h3 Deadline:
        h4 31 Jun 2014
      .mustShowBox
        h2 Client Type:
        p Personal
        br
        h2 Service Type:
        p Plan Only, With one number
        br
        h2 Network Date:
        p 4G+Data over 5GB
      div
        #5_readmore.readmore
          a(href='#') Read More...
        #5_readmoreContent.readmoreContent
          h2 Client Type:
          p Personal
          br
          h2 Service Type:
          p Plan Only, With one number
          br
          h2 Network Date:
          p 4G+Data over 5GB
          .offerDealwrapper
            .offerDealdescription
              a.icon(href='#') Offer Deal
    .column3
      .title
        h2 Task Name
        h3 Deadline:
        h4 31 Jun 2014
      .mustShowBox
        h2 Client Type:
        p Personal
        br
        h2 Service Type:
        p Plan Only, With one number
        br
        h2 Network Date:
        p 4G+Data over 5GB
      div
        #6_readmore.readmore
          a(href='#') Read More...
        #6_readmoreContent.readmoreContent
          h2 Client Type:
          p Personal
          br
          h2 Service Type:
          p Plan Only, With one number
          br
          h2 Network Date:
          p 4G+Data over 5GB
          .offerDealwrapper
            .offerDealdescription
              a.icon(href='#') Offer Deal
