extends layout

block content
  #page.mau-container
    .login
      .loginLeft
        .wrapper
          img(src='images/user.png', alt='')
          .description
            .descriptionLeft
              h3.descriptionTitle Salesman Portal
              h4 Are you struggling with high failing rate?
              h4 Are your sales leads telling you that you don't want the service yet?
              h4 We are here to help.
              a.icon(href='#')
                p Login
              a.icon(href='#')
                p Not a member? Sign Up
            .descriptionRight
      .loginRight
        .wrapper
          img(src='images/user.png', alt='')
          .description
            //
               description content 
            .descriptionLeft
              h3.descriptionTitle Customer Portal
              h4 Want to get a good deals on your new mobile plan?
              h4 Want to renew your boardband contract with less hussle?
              h4 We are here to help.
              a.icon(href='#')
                p Login to post a request
              a.icon(href='#')
                p Not a member? Sign Up
            .descriptionRight
