doctype html
html(lang='en', ng-app='sellmeapp')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/mau.css')
    link(rel='stylesheet', href='/stylesheets/maudefault.css')
    link(rel='stylesheet', href='/stylesheets/maufonts.css')
    link(rel='stylesheet', href='/stylesheets/sellme-box.css')
    link(rel='stylesheet', href='/stylesheets/external/bootstrap/3.0.1/bootstrap.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Varela+Round')
    script(src='/javascripts/external/angularjs/1.0.8/angular.min.js')
    script(src='/javascripts/external/angularjs/1.0.8/angular-resource.min.js')
    script(src='/javascripts/external/jquery/1.10.2/jquery.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/services.js')
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/mau.js')
  body
    #wrapper
      #mau-header-wrapper
        #mau-header.mau-container
          #logo
            h1
              a(href='#') Sell Me - Offer you when you want it
          #social
            ul.contact
              li
                a.icon.icon-twitter(href='#')
                  span Twitter
              li
                a.icon.icon-facebook(href='#')
                  span
              li
                a.icon.icon-dribbble(href='#')
                  span Pinterest
              li
                a.icon.icon-tumblr(href='#')
                  span Google+
              li
                a.icon.icon-rss(href='#')
                  span Pinterest
        #menu.mau-container
          ul
            li.current_page_item
              a(href='/homepage', accesskey='1', title='') Homepage
            li
              a(href='/#/new', accesskey='2', title='') Create Post
            li
              a(href='/#/list', accesskey='3', title='') View Posts
            li
              a(href='#', accesskey='4', title='') Special Offer
            li
              a(href='#', accesskey='5', title='') About Us
            li
              a(href='#', accesskey='6', title='') Contact Us
      block content
      #mau-footer
        p Design By kelvin! Cheers