<div class="info-box">
    Task Name
    <div class="info-box-row">
        <div class="info-home-row-icon">
        </div>
        <div class="info-box-row-data">
            xxxxxxx
        </div>
    </div>
    <div class="info-box-row">
        <div class="info-tag-row-icon">
        </div>
        <div class="info-box-row-data">
            xxxxxxx
        </div>
    </div>
    <div class="info-box-row">
        <div class="info-tag-row-icon">
        </div>
        <div class="info-box-row-data">
            xxxxxxx
        </div>
    </div>
    <div class="info-box-row">
        <div class="info-tag-row-icon">
        </div>
        <div class="info-box-row-data">
            xxxxxxx
        </div>
    </div>
    <div class="info-box-row">
        <div class="info-tag-row-icon">
        </div>
        <div class="info-box-row-data">
            xxxxxxx
        </div>
    </div>

    <!-- Read more div -->
    <div class="info-box-read-row" id="1_hidden_read" onclick="mauShowBox(this);">
        <div class="info-box-row-read">
            Read More...
        </div>
    </div>
    <div class="mau-hidden" id="1_hidden">
        <div class="info-box-row">
            <div class="info-tag-row-icon">
            </div>
            <div class="info-box-row-data">
                xxxxxxx
            </div>
        </div>
        <div class="info-box-row">
            <div class="info-tag-row-icon">
            </div>
            <div class="info-box-row-data">
                xxxxxxx
            </div>
        </div>
        <div class="info-box-row">
            <div class="info-tag-row-icon">
            </div>
            <div class="info-box-row-data">
                xxxxxxx
            </div>
        </div>
    </div>

</div>
