       <div class="page-header">
          <h1>Case List</h1>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <input type="text" class="form-control" ng-model="query" placeholder="Search for a case">
          </div>
        </div>
        <div class="row"><div class="col-xs-12"><hr></div></div>
        <!-- if on the length -->
        <div class="row" ng-switch on="caseItems.length">
          <ul ng-switch-when="0">
            <li><em>No cases in database. Would you like to <a href="#/new">create one</a>?</li>
          </ul>
          <!-- loop -->
          <div id='list-of-boxes' ng-switch-default>
            <div class="info-box" ng-repeat="caseItem in caseItems | filter:query">
              <!-- {{caseItem.casetype}}:  -->
              <h3>{{caseItem.casetitle}}</h3>
              <!-- Switch by type -->
              <div ng-switch on="caseItem.casetype">
                <!-- mobile start-->
                <div ng-switch-when="mobile">

                  <div class="info-box-row">
                    <div class="info-home-row-icon">
                    </div>
                    <div class="info-box-row-data">
                      <span ng-switch on="caseItem.mobilecontent[0].clientType">
                        <span ng-switch-when="personal">Personal</span>
                        <span ng-switch-when="business">Business</span>
                      </span>
                    </div>
                  </div>

                  <div class="info-box-row">
                    <div class="info-home-row-icon">
                    </div>
                    <div class="info-box-row-data">
                      <span ng-switch on="caseItem.mobilecontent[0].voiceMinutes">
                        <span ng-switch-when="minute1">Less than 500</span>
                        <span ng-switch-when="minute2">500 - 1,000</span>
                        <span ng-switch-when="minute3">1,000 - 2,000</span>
                        <span ng-switch-when="minute4">2,000 - 4,000</span>
                        <span ng-switch-when="minute5">4,000+</span>
                      </span>
                    </div>
                  </div>

                  <div class="info-box-row">
                    <div class="info-home-row-icon">
                    </div>
                    <div class="info-box-row-data">
                      <span ng-switch on="caseItem.mobilecontent[0].dataVolume">
                        <span ng-switch-when="data1">Less than 200 MB</span>
                        <span ng-switch-when="data2">200 - 500 MB</span>
                        <span ng-switch-when="data3">500MB - 1GB</span>
                        <span ng-switch-when="data4">1GB - 5GB</span>
                        <span ng-switch-when="data5">5GB+</span>
                      </span>
                    </div>
                  </div>

                </div>
                <!-- mobile end-->
                <!-- insurance start-->
                <div ng-switch-when="insurance">
                  <div class="info-box-row">
                    <div class="info-home-row-icon">
                    </div>
                    <div class="info-box-row-data">
                      <span ng-switch on="caseItem.insurancecontent[0].destination">
                        <span ng-switch-when="destChina">Macau/China/Taiwan</span>
                        <span ng-switch-when="destAsia">Asian Countries</span>
                        <span ng-switch-when="destUSA">USA</span>
                        <span ng-switch-when="destOther">Other parts of the world</span>
                      </span>
                    </div>
                  </div>

                  <div class="info-box-row">
                    <div class="info-home-row-icon">
                    </div>
                    <div class="info-box-row-data">
                        {{caseItem.insurancecontent[0].datestr}}
                    </div>
                  </div>

                  <div class="info-box-row">
                    <div class="info-home-row-icon">
                    </div>
                    <div class="info-box-row-data">
                      <span ng-switch on="caseItem.insurancecontent[0].triptype">
                        <span ng-switch-when="typeSelf">Self</span>
                        <span ng-switch-when="typeGroup">Group Tour</span>
                        <span ng-switch-when="typeCruise">Cruise</span>
                      </span>
                    </div>
                  </div>
                </div>
                <!-- insurance end-->
              </div>
              <!-- Read more div -->
              <div class="info-box-read-row" id="{{caseItem._id}}_hidden_read" onclick="mauShowBox(this);">
                <div class="info-box-row-read">
                    Read More...
                </div>
              </div>

              <div class="mau-hidden" id="{{caseItem._id}}_hidden">
                <!-- Switch by type -->
                <div ng-switch on="caseItem.casetype">
                  <!-- mobile start-->

                  <!-- mobile end-->
                  <!-- insurance start-->
                  <div ng-switch-when="insurance">

                    <div class="info-box-row">
                      <div class="info-home-row-icon">
                      </div>
                      <div class="info-box-row-data">
                          {{caseItem.insurancecontent[0].adultcount}} Adults
                      </div>
                    </div>

                    <div class="info-box-row">
                      <div class="info-home-row-icon">
                      </div>
                      <div class="info-box-row-data">
                          {{caseItem.insurancecontent[0].childcount}} Children
                      </div>
                    </div>
                  </div>
                  <!-- insurance end-->
                </div>
                <div class="info-box-row">
                  <div class="info-home-row-icon">
                  </div>
                  <div class="info-box-row-data">
                      {{caseItem.remarks}}
                  </div>
                </div>
              </div>
            </div>
            <!-- end of info-box -->
          </div>
          <!-- end of loop -->
        </div>
        <p>&nbsp;</p>
