<div class="page-header">
  <h1>Post a Request!</h1>
</div>
<div class="row extra-high-row">
  <a href="#/new/mobile">
    <div class="col-md-6 sell-me-add-button-div mobile left top">
      <div><span class="glyphicon glyphicon-plus"></span>Mobile Services</div>
    </div>
  </a>
  <a href="#/new/other">
    <div class="col-md-6 sell-me-add-button-div other right top">
      <div><span class="glyphicon glyphicon-plus"></span>Others</div>
    </div>
  </a>
</div>
<div class="row extra-high-row">
  <a href="#/new/boardband">
    <div class="col-md-6 sell-me-add-button-div boardband left bottom">
      <div><span class="glyphicon glyphicon-plus"></span>Boardband Services</div>
    </div>
  </a>
  <a href="#/new/insurance">
    <div class="col-md-6 sell-me-add-button-div insurance right bottom">
      <div><span class="glyphicon glyphicon-plus"></span>Travel Insurance</div>
    </div>
  </a>
</div>
