div.login
{
padding-left:100px;
padding-right:100px;
}
div.loginLeft
{

width:460px;
height:460px;
display:inline-block;

}

div.loginLeft:hover div.description
{

visibility:visible;

}

div.loginRight
{

width:460px;
height:460px;

display:inline-block;
float:right;
}
div.loginRight:hover div.description
{

visibility:visible;

}
div.wrapper{
	margin:0px;
	float:left; /* important */
	position:relative; /* important(so we can absolutely position the description div */
}
div.description{
	float: left;
    font-size:18px;
	width:460px;
	height:482px;
    visibility:hidden;
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
	width:100%;
	/* styling bellow */
	background-color:black;
	font-family: 'tahoma';
	color:white;
	opacity:0.4; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
}
div.descriptionLeft{
    
	width:297px;
	height:482px;
	padding:30px;
	

				/* styling bellow */
	

}
div.descriptionRight{
    width:120px;
	height:482px;
	/* styling bellow */

}
div.descriptionRightTop{
	width:100px;
	height:120px;
	border-style:solid;
    border-color:#98bf21;

}

div.descriptionRightBottom{
	width:100px;
	height:120px;
	border-style:solid;
    border-color:#98bf21;

}
p.description_content{
	padding:20px;
	margin:0px;
}
a.icon {
   color: #1E7EC8;
   text-decoration: none; // changed from text-decoration:underline
}
a.icon:hover {
   text-decoration: underline; // changed from text:decoration:none
}
.decriptionTitle h4
{
		height:462px;
}
div.boxContainer{
	float: left;
    font-size:18px;
	width:460px;
	height:482px;
    visibility:hidden;
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
	width:100%;
	/* styling bellow */
	background-color:black;
	font-family: 'tahoma';
	color:white;
	opacity:0.4; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
}

div.search_form{
	border-style:dotted;
	border-color:black;
	border-width:1px;
}

div.result{
	margin-top:20px;
	border-width:1px;
}
